body {
  background-color: black;
  color: cyan;
}

.titulo {
  text-align: center;
}
.subTitulo {
  color: #fff;
}
.input {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.botoncito {
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  background-color: darkorange;
  border-radius: 6px;
  border: solid 1px white;
}

.botoncito:hover {
  background-color: white;
  color: black;
}
